<ion-tabs scrollable>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="randomnumber">
      <ion-icon src="assets/numbers.svg"></ion-icon>
      <ion-label>Random Number</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rockpaperscissors">
      <ion-icon src="assets/rock-scissors-paper.svg"></ion-icon>
      <ion-label>Rock Paper Scissors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="randomletter">
      <ion-icon src="assets/letters.svg"></ion-icon>
      <ion-label>Random Letter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="randomemoji">
      <ion-icon src="assets/emoji.svg"></ion-icon>
      <ion-label>Random Emoji</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="randomdice">
      <ion-icon src="assets/dice.svg"></ion-icon>
      <ion-label>Random Dice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="randomword">
      <ion-icon src="assets/book.svg"></ion-icon>
      <ion-label>Random Word</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="choicemaker">
      <ion-icon src="assets/choose.svg"></ion-icon>
      <ion-label>Choice Maker</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>