
// as mentioned about
// ion-tabs { contain: none; }
ion-tab-bar, ion-tabs { 
  contain: none;  
  overflow: auto; 
  display: flex;

  @media only screen  and (max-width: 600px){
    align-content: center;
    justify-content: space-between;  
  }
  

}

//  // a wrapper for the position
// .buttonWrapper {
//   position: absolute;
//   bottom: 20px;
// }

// // for the overflow
// ion-tab-button::part(native){
//    overflow: visible;
// }

ion-icon {
  height: 50%;
  width: 50%;
}

