<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/letters.svg"></ion-icon> Random Letter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label class="name">{{letter}}</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button class="ion-text-center generate" expand="full" size="large" (click)="generate()">
    <ion-icon name="refresh-circle-outline"></ion-icon> Again
  </ion-button>
</ion-footer>