.name {
    font-weight: bolder;
    font-size: 5vw;
}

.loading {
    background: url("../assets/splash.png") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    // position: fixed;
}