.center {
    margin: 0 auto !important;
    display: block;
    width: 70%;
}

.generate {
    font-size: larger;
    margin: 0 auto !important;
    text-align: center;
    
}
@media only screen and (max-width: 600px) {
    .number {
        font-size: 40vw;
    }    
}

@media only screen and (min-width: 600px) {
    .number {
        font-size: 20vw;
    }
}
.number {
    font-weight: bolder;
    font-family: monospace;
}

.red {
    color: rgb(226, 0, 0);
    font-weight: bolder;
}