<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/numbers.svg"></ion-icon>Random Number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label class="number">{{ randomNumber }}</ion-label>
  </ion-item>

  <ion-list class="center ion-padding">
    <ion-item>
      <ion-label position="fixed">Min: </ion-label>
      <ion-input [(ngModel)]="min" class="ion-text-center" type="number" (change)="check()" lines="none">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Max: </ion-label>
      <ion-input [(ngModel)]="max" class="ion-text-center" type="number" (change)="check()" lines="none"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Animation: </ion-label>
      <ion-toggle [(ngModel)]="animation"></ion-toggle>
    </ion-item>
  </ion-list>



  <ion-label class="center red ion-text-center">{{error}}</ion-label>

</ion-content>

<ion-footer>

  <ion-button class="ion-text-center generate" expand="full" size="large" (click)="randomInteger()"
    [disabled]="min > max">
    <ion-icon name="refresh-circle-outline"></ion-icon>New Number
  </ion-button>

</ion-footer>