<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/rock-scissors-paper.svg"></ion-icon> Rock Paper Scissors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label class="name">{{name}}</ion-label>
  </ion-item>
  <ion-item class="center image">
    <ion-img class="center " [src]="url"></ion-img>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-button class="ion-text-center generate" expand="full" size="large" (click)="generate()">
    <ion-icon name="refresh-circle-outline"></ion-icon> Again
  </ion-button>
</ion-footer>