.group {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: larger;

    ion-input {
        font-size: larger;
    }
}

.green {
    color: lightgreen;
}

#canvas {
    height: 100% !important;
    width: 100% !important;
    min-width: 500px;
    min-height: 500px;
    bottom: 0  !important;
    display: block;
    position: fixed;
}