<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/choose.svg"></ion-icon> Choice Maker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="ion-text-center group">
    <ion-item>
      <ion-label position="stacked">Type your question?</ion-label>
      <ion-input [(ngModel)]="question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Option 1</ion-label>
      <ion-input [(ngModel)]="optionOne"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Option 2</ion-label>
      <ion-input [(ngModel)]="optionTwo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Option 3</ion-label>
      <ion-input [(ngModel)]="optionThree"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-item class="group ion-padding" *ngIf="chosen !== null && question !== '' && optionOne !== ''">
    <ion-text>The Universe has chosen: Option {{ chosen }}</ion-text>
  </ion-item>

  <ion-item class="ion-text-center group ion-padding green"
    *ngIf="chosen !== null && question !== '' && optionOne !== ''">
    <ion-text class="ion-text-center group ion-padding" *ngIf="chosen === 1"> {{ optionOne }}</ion-text>
    <ion-text class="ion-text-center group ion-padding" *ngIf="chosen === 2"> {{ optionTwo }}</ion-text>
    <ion-text class="ion-text-center group ion-padding" *ngIf="chosen === 3"> {{ optionThree }}</ion-text>
  </ion-item>

  <canvas #canvas id="canvas"></canvas>
</ion-content>
<ion-footer>
  <ion-button class="ion-text-center generate" expand="full" size="large"
    [disabled]="question === '' || optionOne === ''" (click)="choose()">
    <ion-icon name="refresh-circle-outline"></ion-icon> Make Choice
  </ion-button>
</ion-footer>