<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/dice.svg"></ion-icon> Dice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scene">
    <div class="cube" id="cube_one" #cube_one>
      <div class="cube__face cube__face--front">

        <div class="point">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--back">
        <div class="point" style="margin: 0 50px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: 0 50px">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--right">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--left">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -96px; margin-right: -96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -96px; margin-left: 96px">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--top">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-left:46px">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -192px;margin-left: 96px;">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-left: 96px;margin-top: -66px;">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--bottom">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -64px 96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -128px 96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -190px 96px">
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="scene">
    <div class="cube" id="cube_two" #cube_two>
      <div class="cube__face cube__face--front">

        <div class="point">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--back">
        <div class="point" style="margin: 0 50px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: 0 50px">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--right">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--left">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -96px; margin-right: -96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -96px; margin-left: 96px">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--top">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-left:46px">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-top: -192px;margin-left: 96px;">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin-left: 96px;margin-top: -66px;">
          <div class="dot"></div>
        </div>
      </div>
      <div class="cube__face cube__face--bottom">
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -64px 96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -128px 96px">
          <div class="dot"></div>
        </div>
        <div class="point" style="margin: -190px 96px">
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-button class="ion-text-center generate" expand="full" size="large" (click)="dice()">
    <ion-icon name="refresh-circle-outline"></ion-icon> Roll Again
  </ion-button>
</ion-footer>