
ion-content{
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
    background:#1f1f1f;

    margin:0 auto;
    text-align: center;
    padding:0;
    color:#fff;
    font-weight:bold;
    font-size:25px;
    font-family: Roboto, sans-serif;
}

.scene {
    width: 192px;
    height: 192px;
    perspective: 1200px;
    margin:50px auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition:200ms;
    position:absolute;
    z-index:2;  
}

.cube__face {
    position: absolute;
    width: 192px;
    height: 192px;
    border:4px solid #000;
    opacity:1;
    box-shadow:0 0 3px #fff;
}

.cube__face--front  { 
    transform: rotateY(0deg) translateZ(100px);
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
}

.cube__face--right  { 
    transform: rotateY( 90deg) translateZ(100px);
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;
}
.cube__face--back   { 
    transform: rotateY(180deg) translateZ(100px); 
    align-items:center;
    justify-content:center;
    background:#fff;
}

.cube__face--left   { 
    transform: rotateY(-90deg) translateZ(100px); 
    align-items:center;
    justify-content:center;
    background:#fff;
}

.cube__face--top    { 
    transform: rotateX( 90deg) translateZ(100px); 
    align-items:center;
    justify-content:center;
    background:#fff;
}

.cube__face--bottom { 
    transform: rotateX(-90deg) translateZ(100px); 
    align-items:center;
    justify-content:center;
    background:#fff;
}

.cube { 
    transition: transform 400ms; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    // animation-name: example;
    transform:  rotateY(0deg) rotateX(0deg); 
}


@keyframes example {
    from {transform:  rotateY(0deg) rotateX(0deg); }
    to {transform:  rotateY(360deg) rotateX(0deg); }
}

@keyframes example {
    0%{
        transform:  rotateY(0deg) rotateX(0deg);
    }
    25%{
        transform:  rotateY(180deg) rotateX(0deg);
    }
    50%{
        transform:  rotateY(360deg) rotateX(180deg);
    }
    75%{
        transform:  rotateY(270deg) rotateX(0deg);
    }
    100%{
        transform:  rotateY(360deg) rotateX(360deg);
    }
}

.point{
    width:96px;
    height:96px;
    float:left;
    display:flex;
    align-items:center;
    justify-content:center;

    .dot{
        width:30px;
        height:30px;
        background:#000;
        border-radius:50%;
    }
}

.cube__face--bottom{
    .point{
        height:64px;
    }
}

.cube__face--top{
    .point{
        height:64px;
    }
}

.dice{
    position:fixed;
    left:auto;
    padding:10px 15px;
    background:transparent;
    border:4px solid #fff;
    cursor:pointer;
    z-index:10;
    bottom:50px;
}