<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/book.svg"></ion-icon> Random Word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label class="name">{{word}}</ion-label>
  </ion-item>
  <div class="ion-text-center ion-padding">
    <ion-text class="ion-text-center ion-justify-content-center">{{definition}}</ion-text>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="ion-text-center generate" expand="full" size="large" (click)="generate()">
    <ion-icon name="refresh-circle-outline"></ion-icon> New Word
  </ion-button>
</ion-footer>